&dmamux1 {
    status = "okay";
};

&dma1 {
    status = "okay";
};

&i2s1 {
    status = "okay";

    pinctrl-0 = <&i2s1_ck_pb3 &i2s1_ws_pa15 &sai1_sd_b_pe3>;
    pinctrl-names = "default";

    dmas = <&dmamux1 0 38 0>,
           <&dmamux1 1 37 0>;
    dma-names = "tx", "rx";
};

&usart3 {
    status = "okay";
    current-speed = <115200>;
};

&i2c1 {
	status = "okay";
};
