&dmamux1 {
    status = "okay";
};

&dma1 {
    status = "okay";
};

&i2s1 {
    status = "okay";

    pinctrl-0 = <&i2s1_ck_pa5 &i2s1_ws_pa4 &sai1_sd_a_pc1>;
    pinctrl-names = "default";

    dmas = <&dmamux1 0 38 0>,
           <&dmamux1 1 37 0>;
    dma-names = "tx", "rx";
};
